<form [formGroup]="roundtripForm" (ngSubmit)="submit()">
    <div class="roundtrip-form">
        <mat-form-field class="origin-field">
            <mat-label>Origin</mat-label>
            <mat-select formControlName="origin">
                @for (station of stations(); track station.id) {
                    <mat-option value="{{ station.id }}">{{ station.name }} - {{ station.city.city }}, {{ station.city.province }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field class="destination-field">
            <mat-label>Destination</mat-label>
            <mat-select formControlName="destination">
                @for (station of stations(); track station.id) {
                    <mat-option value="{{ station.id }}">{{ station.name }} - {{ station.city.city }} {{ station.city.province }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Departure - Origin</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Departure" formControlName="departureDate">
                <input matEndDate placeholder="Return" formControlName="returnDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Number of Passengers</mat-label>
            <input matInput formControlName="passengers" type="number" min="1" />
        </mat-form-field>

        <button matButton="filled" type="submit" [disabled]="roundtripForm.invalid" class="submit-button-roundtrip">Find tickets</button>
    </div>
</form>
<span>From Union Station Toronto - Toronto, Ontario to Pacific Central Station - Vancouver, British Columbia</span>
<br/><br/>
<app-ticket-card [scheduleId]="1"></app-ticket-card>
<br/>
<app-ticket-card [scheduleId]="1"></app-ticket-card>
<br/>
<app-ticket-card [scheduleId]="1"></app-ticket-card>
