<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            TORONTO <mat-icon class="from-to-arrow">arrow_forward</mat-icon> VANCOUVER
        </mat-card-title>
        <mat-card-subtitle>30hr 25min</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
        <button matButton="tonal" class="ticket-prices-btn">Economy - $85</button>
        <button matButton="filled" class="ticket-prices-btn">Business - $300</button>
    </mat-card-actions>
</mat-card>