<mat-sidenav-container class="sidenav-container">
    <!-- Mobile Sidenav -->
    <mat-sidenav #sidenav mode="over" position="end" class="mobile-sidenav">
        <mat-nav-list>
            <a mat-list-item class="app-mat-list-item" routerLink="/" (click)="sidenav.close()">Home</a>
            <a mat-list-item class="app-mat-list-item" routerLink="/tickets" (click)="sidenav.close()">Tickets</a>
            <a mat-list-item class="app-mat-list-item" routerLink="/" (click)="sidenav.close()">Destinations</a>
            <a mat-list-item class="app-mat-list-item" routerLink="/" (click)="sidenav.close()">Offers</a>
            <a mat-list-item class="app-mat-list-item" routerLink="/" (click)="sidenav.close()">Help</a>
            <a mat-list-item class="app-mat-list-item" routerLink="/" (click)="sidenav.close()">Contact</a>
            <a mat-list-item class="app-mat-list-item" routerLink="/" (click)="sidenav.close()">FAQ</a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content>
        <!-- Toolbar component with hamburger -->
        <app-menu [sidenav]="sidenav"></app-menu>

        <!-- Page content -->
         <div class="content">
            <router-outlet></router-outlet>
         </div>
    </mat-sidenav-content>
</mat-sidenav-container>