.top-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  margin-top: 64px; /* offset for toolbar */
}

.desktop-menu {
  display: flex;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: inline-flex;
  }
}
